/* poppins-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/poppins-v20-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/poppins-v20-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/poppins-v20-latin-regular.svg#Poppins') format('svg');
    /* Legacy iOS */
}

/* poppins-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v20-latin-500.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/poppins-v20-latin-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/poppins-v20-latin-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/poppins-v20-latin-500.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/poppins-v20-latin-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/poppins-v20-latin-500.svg#Poppins') format('svg');
    /* Legacy iOS */
}

/* poppins-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v20-latin-700.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/poppins-v20-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/poppins-v20-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/poppins-v20-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/poppins-v20-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/poppins-v20-latin-700.svg#Poppins') format('svg');
    /* Legacy iOS */
}

/* poppins-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins-v20-latin-900.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/poppins-v20-latin-900.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/poppins-v20-latin-900.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/poppins-v20-latin-900.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/poppins-v20-latin-900.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/poppins-v20-latin-900.svg#Poppins') format('svg');
    /* Legacy iOS */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 400;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

p {
    margin: 0;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mt-90 {
    margin-top: 90px;
}

:root {
    --orange: #E52E06;
    --black: #333333;
}

/* =================== Header CSS ================= */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeInDown {
    form {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        -ms-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}   

.main-header {
    box-shadow: 1px 2px 8px rgba(0 0 0/10%);
    background-color: #fff;
}

.header .logo {
    width: 166px;
    height: auto;
}

.header i {
    color: var(--orange);
    font-size: 17px;
}

.header a {
    color: #000;
    font-size: 15px;
    font-weight: 500;
    position: relative;
}

.menu .navbar_list a::before {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--orange);
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: all ease .3s;
}

.menu .navbar_list a:hover::before {
    width: 100%;
}

.login a {
    transition: .5s;
}

.login i {
    transition: .5s;
}

.login button:hover a,
.login button:hover i {
    color: #fff;
}

/* =================== Mobile Navigation CSS ================= */

.moblie_logo {
    width: 190px;
}

.mobile_nav {
    background-color: var(--black);
    width: 450px;
    max-width: 85%;
    height: 100vh;
    z-index: 11;
    font-size: 15px;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    transform: translateX(-100%);
    transition: all ease-out .3s;
} 

.mobile_nav.active {
    visibility: visible;
    transform: translateX(0);
}

.mobile_nav .mobile_login {
    padding: 20px 15px;
    background-color: var(--orange);
}

.mobile_login .fa-user {
    width: 100px;
    height: 100px;
    color: #000;
    background-color:#fff;
    border-radius: 50%;
    line-height: 100px;
    font-size: 36px;
}

.mobile_navbar_list {
    margin: 20px;
}

.social_icon i {
    width: 35px;
    height: 35px;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    font-size: 15px;
}

.mobile_navbar_list a:hover,
.social_icon i:hover {
    color: var(--orange);
}

.mobile_nav a {
    color: #fff;
}

.mobile_icon i {
    font-size: 24px;
}

.mobile_icon i.open {
    display: none;
}

.mobile_bars i.open {
    display: block;
}

.mobile_bars i.bars {
    display: none;
}

.close_icon {
    display: none;
}

.active .close_icon {
    display: block;
    position: absolute;
    top: 0;
    right: -34px;
    background-color: #000;
    font-size: 22px;
    padding: 0 10px;
}

/* =================== Slider CSS ================= */



/* =================== Categories CSS ================= */

.categories {
    border: 1px solid rgba(0 0 0/8%);
    cursor: pointer;
}

.categories_img {
    transition: all ease-in .5s;
}

.categories:hover .categories_img {
    transform: scale(1.08);
    transform-origin: center;
}

.our_categories h3.title,
.blog h3.title {
    width: max-content;
    margin: 0 auto;
    position: relative;
}

.our_categories h3.title::before,
.blog h3.title::before {
    content: '';
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20%;
    height: 3px;
    background-color: var(--orange);
    transition: .2s;
}

.our_categories h3.title:hover::before,
.blog h3.title:hover::before {
    width: 80%;
} 

/* ===================== Banner CSS ==================== */

.banner_info {
    position: relative;
    font-size: 15px;
}

.banner_content {
    position: absolute;
    top: 32%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
}

.banner_info {
    overflow: hidden;
}

.banner_img {
    transition: all ease-out .5s;
}

.banner_info button {
    border: none;
    transition: .5s;
}

.banner_info:hover .banner_img {
    transform: scale(1.1);
    filter: brightness(0.9);
    transform-origin: center;
}

.banner_info:hover button {
    background-color: #000;
}

.banner_content h4 {
    font-size: 21px;
    font-weight: 400;
}

.banner_content button span {
    font-size: 14px;
    font-weight: 600;
}

/* ===================== Discount CSS ==================== */

.discount_img {
    background: url(../images/asset\ 54.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 85vh;
}

.discount_content h4,
.discount_content h6 {
    font-size: 50px;
}   

.count_item {
    width: 80px;
    height: 80px;
    padding: 15px;
    margin: 0 8px;
    border-radius: 15px;
    box-shadow: 1px 2px 8px rgba(0 0 0/8%),-1px -2px 8px rgba(0 0 0/8%);
}

.count_item span:first-child {
    font-size: 22px;
    font-weight: 500;
}

.count_item span:last-child {
    font-size: 12px;
    font-weight: 300;
}

@media screen and (max-width:400px) {

    .discount_img {
        background-size: auto;
        background-position: left;
        height: 60vh;
    }
  
    .disc_info h4,
    .disc_info h6 {
        font-size: 32px;
    }

    .count_item {
        width: 60px;
        height: 60px;
        padding: 12px 15px;
        margin: 0 5px;
        border-radius: 15px;
        background-color: rgba(255,255,255,0.9);
        box-shadow: 1px 2px 8px rgba(0 0 0/8%),-1px -2px 8px rgba(0 0 0/8%);
    }
    
    .count_item span:first-child {
        font-size: 15px;
        font-weight: 500;
    }
    
    .count_item span:last-child {
        font-size: 10px;
        font-weight: 300;
    }
}

/* ====================== Blog CSS ===================== */

.blog_content p span.date {
    font-size: 14px;
}   

.blog_content h4 {
    font-size: 18px;
}

.blog_content h4 a {
    transition: .4s;
}

.blog_content h4:hover a {
    color: var(--orange);
}

.blog_img {
    overflow: hidden;
}

.blog_img img {
    transition: all ease-out .5s;
}

.blog_info:hover .blog_img img {
    cursor: pointer;
    transform: scale(1.1);
    filter: brightness(0.8);
    transform-origin: center;
}

/* ====================== Banner2 CSS ===================== */

.banner2_info {
    position: relative;
}

.banner2_content {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.banner2_content > span {
    font-size: 15px;
    color: rgba(100, 100, 100, 0.8);
}

.banner2_content h4.price {
    color: var(--orange);
    font-size: 24px;
}

.banner2_content button {
    font-size: 14px;
}

.banner2_img {
    overflow: hidden;
}

.banner2_img img {
    transition: all ease-out .6s;
}

.banner2_info:hover .banner2_img img {
    cursor: pointer;
    transform: scale(1.1);
    transform-origin: center;
}

/* =================== Footer CSS ================= */

.suscribe {
    color: #fff;
    background-color: var(--orange);
}

.sub_mail {
    margin-top: 30px;
    display: block;
    position: relative;
}

.sub_mail input[type="email"] {
    border: none;
    outline: none;
    box-shadow: none;
    padding: 20px;
    font-size: 15px;
    border-radius: 2px;
}

.sub_mail input[type="submit"] {
    position: absolute;
    right: 4px;
    top: 5px;
    padding: 16px 25px;
    border: none;
    border-radius: 2px;
    background-color: var(--orange);
}

.main_footer {
    background-color: var(--black);
}

.footer_info {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.6);
}

.footer_info a {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
}

.footer_info a:hover {
    color: var(--orange);
    transition: .3s;
}

.footer_bottom {
    color: #fff;
    background-color: #282828;
}

.ftr_icon li:hover i {
    position: relative;
    color: #fff;
}

.footer_bottom .ftr_icon li {
    width: 38px;
    line-height: 38px;
    text-align: center;
    border-radius: 2px;
    background-color: #fff;
    position: relative;
}

.footer_bottom .ftr_icon li::before {
    content: '';
    width: 100%;
    height: 0;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--orange);
    transition: all ease-out .3s;
}

.footer_bottom .ftr_icon li:hover::before {
    height: 100%;
}

.back2top a {
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    background-color: var(--black);
    position: fixed;
    bottom: 15px;
    right: 15px;
}

/* =================== Page Info  ====================== */

.page_info {
    height: 200px;
    padding: 60px 100px;
    background-color: rgba(255, 0, 0, 0.1);
}

.page_info a:hover {
    color: var(--orange);
    transition: .6s;
}
    
