/* poppins-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/poppins-v20-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/poppins-v20-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/poppins-v20-latin-regular.svg#Poppins') format('svg');
    /* Legacy iOS */
}

/* poppins-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v20-latin-500.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/poppins-v20-latin-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/poppins-v20-latin-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/poppins-v20-latin-500.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/poppins-v20-latin-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/poppins-v20-latin-500.svg#Poppins') format('svg');
    /* Legacy iOS */
}

/* poppins-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v20-latin-700.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/poppins-v20-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/poppins-v20-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/poppins-v20-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/poppins-v20-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/poppins-v20-latin-700.svg#Poppins') format('svg');
    /* Legacy iOS */
}

/* poppins-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins-v20-latin-900.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/poppins-v20-latin-900.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/poppins-v20-latin-900.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/poppins-v20-latin-900.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/poppins-v20-latin-900.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/poppins-v20-latin-900.svg#Poppins') format('svg');
    /* Legacy iOS */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #000;
}

p {
    margin: 0;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

:root {
    --orange: #E52E06;
    --black: #333333;
}

/* =================== Header CSS ================= */

.main-header {
    box-shadow: 1px 2px 8px rgba(0 0 0/10%);
    background-color: #fff;
}

.header .logo {
    width: 166px;
    height: auto;
}

.header {
    font-size: 15px;
    font-weight: 500;
}

.header i {
    color: var(--orange);
    font-size: 17px;
}

.header a {
    color: #000;
    position: relative;
}

.menu a::before,
.login a::before {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--orange);
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: all ease .3s;
}

.menu a:hover::before,
.login a:hover::before {
    width: 100%;
}

/* =================== Mobile Navigation CSS ================= */

.mobile_nav {
    background-color: var(--black);
    width: 450px;
    max-width: 85%;
    height: 100vh;
    z-index: 999;
    font-size: 15px;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    visibility: hidden;
    transform: translateX(-100%);
    transition: all ease-out .4s;
} 

.mobile_nav.active {
    display: block;
    visibility: visible;
    transform: translateX(0);
}

.mobile_nav .mobile_login {
    padding: 20px 15px;
    background-color: var(--orange);
}

.mobile_login .fa-user {
    width: 100px;
    height: 100px;
    color: #000;
    background-color:#fff;
    border-radius: 50%;
    line-height: 100px;
    font-size: 36px;
}

.mobile_navbar_list {
    margin: 20px;
}

.social_icon i {
    width: 35px;
    height: 35px;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    font-size: 15px;
}

.social_icon i:hover {
    color: var(--orange);
}


.mobile_nav a {
    color: #fff;
}

.mobile_icon i {
    font-size: 24px;
}

.mobile_icon i.open {
    display: none;
}

.mobile_bars i.bars {
    display: none;
}

.mobile_bars i.open {
    display: block;
}

.carousel {
    margin-top: 90px;
}

.active .close_icon {
    position: absolute;
    top: 0;
    right: -34px;
    background-color: #000;
    font-size: 22px;
    padding: 0 10px;
}

/* =================== Categories CSS ================= */

.categories {
    border: 1px solid rgba(0 0 0/8%);
    cursor: pointer;
}

.categories_img {
    transition: all ease-in .5s;
}

.categories:hover .categories_img {
    transform: scale(1.08);
    transform-origin: center;
}

.our_categories h3.title {
    position: relative;
}

.our_categories h3.title::before {
    content: '';
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60px;
    height: 3px;
    background-color: var(--orange);
    transition: .2s;
}

.our_categories h3.title:hover::before {
    width: 225px;
} 

/* ===================== Banner CSS ==================== */

.banner {
    position: relative;
    font-size: 15px;
}

.banner_content {
    position: absolute;
    top: 32%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
}

.banner {
    overflow: hidden;
}

.banner_img {
    transition: all ease-out .5s;
}

.banner button {
    border: none;
    transition: .5s;
}

.banner:hover .banner_img {
    transform: scale(1.1);
    filter: brightness(0.9);
    transform-origin: center;
}

.banner:hover button {
    background-color: #000;
}

.banner_content h4 {
    font-size: 21px;
    font-weight: 400;
}

.banner_content button span {
    font-size: 14px;
    font-weight: 600;
}

/* ===================== Discount CSS ==================== */

.discount_img {
    background: url(../images/asset\ 54.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 85vh;
}

.discount_content h4,
.discount_content h6 {
    font-size: 50px;
}   

.count_item {
    width: 80px;
    height: 80px;
    padding: 15px 20px;
    margin: 0 10px;
    border-radius: 15px;
    box-shadow: 1px 2px 8px rgba(0 0 0/8%),-1px -2px 8px rgba(0 0 0/8%);
}

.count_item span:first-child {
    font-size: 22px;
    font-weight: 500;
}

.count_item span:last-child {
    font-size: 12px;
    font-weight: 300;
}

@media screen and (max-width:400px) {

    .discount_img {
        background-size: auto;
        filter: brightness(0.8);
    }
 
    .disc_info h4,
    .disc_info h6 {
        font-size: 25px;
    }

    .count_item {
        width: 60px;
        height: 60px;
        padding: 12px 15px;
        margin: 0 5px;
        border-radius: 15px;
        background-color: rgba(255,255,255,0.8);
        box-shadow: 1px 2px 8px rgba(0 0 0/8%),-1px -2px 8px rgba(0 0 0/8%);
    }
    
    .count_item span:first-child {
        font-size: 16px;
        font-weight: 500;
    }
    
    .count_item span:last-child {
        font-size: 10px;
        font-weight: 300;
    }
}

    
